{# templates/reference/data.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Импорт значений и файла{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <br>
    <h1 class="text-center">Последние импортированные значения</h1>
    <br>
    <div class="row">
        <div class="col-2">Код</div>
        <div class="col-2">Название</div>
        <div class="col-3">Ошибка</div>
        <div class="col-5">Путь</div>
    </div>
    <hr>
    {% for row in data %}
        <div class="row">
            <div class="col-2">{{ row.hash }}</div>
            <div class="col-2">{{ row.name }}</div>
            <div class="col-3">{{ row.error }}</div>
            <div class="col-5">{{ row.filepath }}</div>
        </div>
    {% endfor %}
{% endblock %}
